include clode/kernels/*.cl
include clode/kernels/observers/*.clh
include clode/kernels/steppers/*.clh
include clode/py.typed
prune .github
prune clode/cpp
prune matlab
prune paper
prune samples
prune tmp