setuptools>=75.1.0
setuptools_scm>=8.1.0
wheel>=0.44.0
packaging>=24.1
six>=1.16.0
numpy>=2.1.1
pytest>=8.3.3
build>=1.2.2
twine>=5.1.1
mkdocs
mkdocs-autorefs
mkdocstrings
mkdocstrings-python
scipy>=1.14.1
pymdown-extensions>=10.11.1
matplotlib>=3.9.2
